.css-12p068q,     .css-im36kd{
    padding: 0 20px !important;
}
.editing-row {
    background-color: black !important; /* Light blue color to highlight the row */
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .pulse-logo {
    animation: pulse 2s infinite;
  }